squads/ghostwriter-linkedin-auto/n8n/linkedin-send-emails.json
{
  "name": "LinkedIn Luby — Send Posts via Email",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bloggers",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "submitted_content", "condition": "eq", "keyValue": "false" },
            { "keyName": "content", "condition": "neq", "keyValue": "null" }
          ]
        },
        "options": {}
      },
      "id": "query-bloggers",
      "name": "Query Bloggers",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [240, 0],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "collaborators",
        "returnAll": true,
        "options": {}
      },
      "id": "query-collaborators",
      "name": "Query Collaborators",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [240, 200],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Helper: convert basic markdown to HTML\nfunction md2html(md) {\n  if (!md) return '';\n  let html = md\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;')\n    .replace(/^### (.+)$/gm, '<h4 style=\"margin:16px 0 6px;font-size:14px;color:#1e40af;\">$1</h4>')\n    .replace(/^## (.+)$/gm, '<h3 style=\"margin:18px 0 8px;font-size:15px;color:#1e40af;\">$1</h3>')\n    .replace(/^# (.+)$/gm, '<h2 style=\"margin:0 0 12px;font-size:17px;color:#0f172a;\">$1</h2>')\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    .replace(/^(\\d+)\\. (.+)$/gm, '<div style=\"margin:4px 0;padding-left:16px;\">$1. $2</div>')\n    .replace(/\\n\\n/g, '<br><br>')\n    .replace(/\\n/g, '<br>');\n  return html;\n}\n\nconst bloggers = $('Query Bloggers').all();\nconst collaborators = $('Query Collaborators').all();\n\n// Build collaborator map\nconst collabMap = {};\nfor (const c of collaborators) collabMap[c.json.id] = c.json;\n\n// Group bloggers by collaborator_id\nconst grouped = {};\nfor (const b of bloggers) {\n  const cid = b.json.collaborator_id;\n  if (!grouped[cid]) grouped[cid] = [];\n  grouped[cid].push(b.json);\n}\n\nconst results = [];\nconst today = new Date().toISOString().split('T')[0];\n\nfor (const [collabId, posts] of Object.entries(grouped)) {\n  const collab = collabMap[collabId];\n  if (!collab || !collab.email) continue;\n\n  // Separate EN and PT-BR posts (heuristic: PT-BR posts contain Portuguese markers)\n  let postEN = '';\n  let postPT = '';\n  const bloggerIds = [];\n\n  for (const p of posts) {\n    bloggerIds.push(p.id);\n    const content = p.content || '';\n    if (/\\b(que|para|como|mais|com|uma|seu|sua|voce|ainda|tambem|ja|nao)\\b/i.test(content) && \n        !/\\b(the|and|that|this|with|from|have|been)\\b/i.test(content.substring(0, 200))) {\n      postPT = content;\n    } else {\n      postEN = content;\n    }\n  }\n\n  if (!postEN && postPT) { postEN = postPT; postPT = ''; }\n\n  const linkedinRaw = collab.linkedin_improvement || '';\n  const linkedinHtml = md2html(linkedinRaw);\n\n  const enSection = postEN ? '<div style=\"padding:24px 32px;border-bottom:1px solid #e2e8f0;\"><div style=\"font-size:11px;font-weight:600;letter-spacing:1px;text-transform:uppercase;color:#94a3b8;margin-bottom:12px;\">YOUR LINKEDIN POST (English)</div><div style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:8px;padding:20px;font-size:14px;line-height:1.8;color:#1e293b;white-space:pre-wrap;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,sans-serif;\">' + postEN + '</div><div style=\"margin-top:12px;font-size:12px;color:#64748b;\">Copy the text above and paste on LinkedIn</div></div>' : '';\n\n  const ptSection = postPT ? '<div style=\"padding:24px 32px;border-bottom:1px solid #e2e8f0;\"><div style=\"font-size:11px;font-weight:600;letter-spacing:1px;text-transform:uppercase;color:#94a3b8;margin-bottom:12px;\">SEU POST LINKEDIN (Portugues)</div><div style=\"background:#f8fafc;border:1px solid #e2e8f0;border-radius:8px;padding:20px;font-size:14px;line-height:1.8;color:#1e293b;white-space:pre-wrap;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,sans-serif;\">' + postPT + '</div><div style=\"margin-top:12px;font-size:12px;color:#64748b;\">Copie o texto acima e cole no LinkedIn</div></div>' : '';\n\n  const improvementSection = linkedinHtml ? '<div style=\"padding:24px 32px;border-bottom:1px solid #e2e8f0;\"><div style=\"font-size:11px;font-weight:600;letter-spacing:1px;text-transform:uppercase;color:#94a3b8;margin-bottom:12px;\">SUGESTOES PARA SEU PERFIL LINKEDIN</div><div style=\"background:#eff6ff;border:1px solid #bfdbfe;border-radius:8px;padding:20px;font-size:13px;line-height:1.7;color:#1e40af;\">' + linkedinHtml + '</div></div>' : '';\n\n  const emailHtml = '<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head><body style=\"margin:0;padding:20px;background:#f4f4f5;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,sans-serif;\"><div style=\"max-width:640px;margin:0 auto;background:#fff;border-radius:10px;overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,.08);\"><div style=\"background:#0f172a;padding:24px 32px;\"><div style=\"font-size:11px;font-weight:600;letter-spacing:1px;text-transform:uppercase;color:#94a3b8;margin-bottom:6px;\">LinkedIn Content &mdash; Luby</div><div style=\"font-size:22px;font-weight:700;color:#f8fafc;line-height:1.3;\">Posts prontos para publicacao</div></div><div style=\"padding:12px 32px;background:#f8fafc;border-bottom:1px solid #e2e8f0;font-size:12px;color:#64748b;\"><strong style=\"color:#334155\">' + (collab.name || '') + '</strong> &middot; ' + (collab.role || '') + ' &middot; ' + today + '</div>' + enSection + ptSection + improvementSection + '<div style=\"padding:24px 32px;text-align:center;\"><div style=\"font-size:12px;color:#94a3b8;\">Gerado automaticamente por Opensquad &middot; Luby Software &middot; ' + today + '</div></div></div></body></html>';\n\n  results.push({\n    json: {\n      collaborator_id: collabId,\n      collaborator_name: collab.name,\n      collaborator_email: collab.email,\n      blogger_ids: bloggerIds,\n      emailSubject: '[Luby LinkedIn] ' + collab.name + ', seus posts estao prontos para publicar',\n      emailHtml: emailHtml\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "build-email",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0]
    },
    {
      "parameters": {
        "fromEmail": "noreply@nearsmarter.com",
        "toEmail": "={{ $json.collaborator_email }}",
        "subject": "={{ $json.emailSubject }}",
        "emailFormat": "html",
        "html": "={{ $json.emailHtml }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [780, 0],
      "credentials": {
        "smtp": {
          "id": "REPLACE",
          "name": "Zoho SMTP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bloggerIds = $json.blogger_ids || [];\nconst results = [];\nfor (const id of bloggerIds) {\n  results.push({ json: { id: id, submitted_content: true } });\n}\nreturn results;"
      },
      "id": "split-ids",
      "name": "Split Blogger IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "bloggers",
        "matchingColumns": ["id"],
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "submitted_content": "={{ $json.submitted_content }}"
          }
        },
        "options": {}
      },
      "id": "mark-submitted",
      "name": "Mark as Submitted",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1260, 0],
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[
        { "node": "Query Bloggers", "type": "main", "index": 0 },
        { "node": "Query Collaborators", "type": "main", "index": 0 }
      ]]
    },
    "Query Bloggers": {
      "main": [[{ "node": "Build Email", "type": "main", "index": 0 }]]
    },
    "Query Collaborators": {
      "main": [[{ "node": "Build Email", "type": "main", "index": 0 }]]
    },
    "Build Email": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    },
    "Send Email": {
      "main": [[{ "node": "Split Blogger IDs", "type": "main", "index": 0 }]]
    },
    "Split Blogger IDs": {
      "main": [[{ "node": "Mark as Submitted", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
